// backgrounds
$bg-dark: #0e1111;
$bg-light: #f6f4f1;

// text colors
$white-text-color: #f8f9f5;
$black-text-color: #0e1111;

// navbar background
$navbar-background: rgba(14, 17, 17, 0.6);

// slider wrapper container background
$slide-over-container-light: rgba(248, 249, 245, 0.4);
$slide-over-container-dark: rgba(14, 17, 17, 0.4);

// project hover background
$project-hover-bg: rgba(248, 249, 245, 0.6);

// border color
$white-border: #f8f9f5;
$black-border: #0e1111;

// Contact form colors
$form-success-color: #37c60f;
$form-error-color: #f91202;
