@use "../helpers" as *;

.some-projects-container {
  @include display-flex(column, center, unset);
  margin-top: 5vh;

  .some-projects {
    width: 50vw;
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
      "project-1 project-1 project-2"
      "project-1 project-1 project-5"
      "project-3 project-4 project-5"
      "project-3 project-4 project-5"
      "project-3 project-4 project-5";
    grid-gap: 0.4vw;

    .project-1 {
      grid-area: project-1;
    }
    .project-2 {
      grid-area: project-2;
    }
    .project-3 {
      grid-area: project-3;
    }
    .project-4 {
      grid-area: project-4;
    }
    .project-5 {
      grid-area: project-5;
    }

    .project {
      position: relative;
      cursor: pointer;
      border-radius: 0.5vw;

      .project-hover {
        @include display-flex(row, center, center);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: $project-hover-bg;
        transition: 0.3s ease-in-out;
        opacity: 1;

        h1 {
          font-family: "Nova Flat", sans-serif;
          color: $black-text-color;
          text-align: center;
          font-size: 1.5vw;
        }
      }

      .img {
        width: 100%;
        height: 100%;
        z-index: 1;
        border-color: green;
      }
    }
  }
  // to all projects button
  .projects-btn {
    // color and border is set in themes.scss
    font-family: "Nova Flat", sans-serif;
    margin-top: 2vw;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    background-color: transparent;
    border-radius: 0.5vw;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: 0.3s ease-in-out;
  }
}

// Media Queries
// max-width: 1024px
@media (max-width: 1024px) {
  .some-projects-container {
    .some-projects {
      width: 80vw;
      grid-template-areas:
        "project-1 project-1"
        "project-1 project-1"
        "project-2 project-2"
        "project-2 project-2"
        "project-3 project-3"
        "project-3 project-3"
        "project-4 project-4"
        "project-4 project-4"
        "project-5 project-5"
        "project-5 project-5";
      grid-gap: 1vw;
      .project {
        max-height: 200px;
        .project-hover {
          width: auto;
          height: auto;
          h1 {
            font-size: 1.5rem;
            padding: 0 0.5rem;
          }
        }
      }
    }
  }
}

// max-width: 500px
@media (max-width: 500px) {
  .some-projects-container {
    .some-projects {
      width: 95vw;
      .project {
        max-height: 150px;
        .project-hover {
          h1 {
            font-size: 1rem;
          }
        }
      }
    }

    .projects-btn {
      font-size: 1rem;
    }
  }
}

// max-width: 300px
@media (max-width: 300px) {
  .some-projects-container {
    .some-projects {
      .project {
        max-height: 100px;
        .project-hover {
          h1 {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

// hover: hover and pointer: fine
@media (hover: hover) and (pointer: fine) {
  .some-projects-container {
    .some-projects {
      .project {
        .project-hover {
          opacity: 0;
        }
        &:hover {
          .project-hover {
            opacity: 1;
          }
        }
      }
    }

    .projects-btn {
      &:hover {
        background-color: $bg-dark;
        color: $white-text-color;
      }
    }
  }
}

// hover: none
@media screen and (hover: none) {
  .some-projects-container {
    .some-projects {
      .project {
        .project-hover {
          padding: 0 0.5rem;
          width: auto;
          height: auto;
        }
      }
    }
  }
}
