@use "../helpers/" as *;

.contact-form-container {
  @include display-flex(column, center, center);
  width: 100%;
  height: 85vh;
  margin: 0 auto;

  .contact-form {
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;

    input,
    textarea {
      // background color and color is set on base/theme.scss
      font-family: "Poppins", sans-serif;
      font-size: 1.1vw;
      padding: 0 0.5rem;
      height: 2.5rem;
      border-radius: 0.2vw;
      border: none;

      &:focus {
        outline: none;
      }
    }

    textarea {
      min-height: 15vw;
      max-height: 50vw;
      padding-top: 0.3rem;
      resize: vertical;
    }
    label {
      // color is set at base/theme.scss
      font-family: "Raleway", sans-serif;
      font-size: 1.1vw;
      padding-left: 0.3rem;
      margin: 0.5rem 0 0.1rem 0;
    }
    button {
      // button color and border is set on base/theme.scss
      @include display-flex(row, center, center);
      margin: 0.5rem 0 0 75%;
      font-family: "Nova Flat", sans-serif;
      padding: 0.5rem 0;
      font-size: 1.3vw;
      text-transform: capitalize;
      background-color: transparent;
      border-radius: 0.5vw;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      transition: 0.3s ease-in-out;
      &:hover {
        background-color: $bg-dark;
        color: $white-text-color;
      }
    }

    .validator {
      font-family: "Raleway", sans-serif;
      font-size: 1.1vw;
      // validator color is the same on both website themes
      color: $form-error-color;
    }
  }
}

.success-msg {
  @include display-flex(row, center, center);
  width: 100%;
  height: 100vh;

  h3 {
    font-family: "Raleway", sans-serif;
    font-size: 2.1vw;
    // success messages color is the same on both website themes
    color: $form-success-color;
    text-align: center;
  }
}

// Media Queries
// max-width: 1200px
@media (max-width: 1200px) {
  .contact-form-container {
    .contact-form {
      width: 60%;

      input,
      textarea,
      label,
      .validator {
        font-size: 1.6vw;
      }

      button {
        font-size: 1.8vw;
      }
    }
  }
  .success-msg {
    h3 {
      font-size: 2.6vw;
    }
  }
}

// max-width: 900px
@media (max-width: 900px) {
  .contact-form-container {
    .contact-form {
      width: 90%;

      input,
      textarea,
      label,
      .validator {
        font-size: 2.1vw;
      }

      textarea {
        min-height: 30vw;
      }

      button {
        font-size: 2.3vw;
      }
    }
  }
  .success-msg {
    h3 {
      font-size: 3.1vw;
    }
  }
}

// max-width: 600px
@media (max-width: 600px) {
  .contact-form-container {
    .contact-form {
      width: 95%;

      input,
      textarea,
      label,
      .validator {
        font-size: 4vw;
      }

      input,
      textarea {
        padding: 0 0.3rem;
      }

      textarea {
        padding-top: 0.3rem;
        min-height: 50vw;
      }

      button {
        font-size: 4.2vw;
      }
    }
  }
  .success-msg {
    h3 {
      font-size: 5vw;
    }
  }
}

// max-width: 500px
@media (max-width: 500px) {
  .contact-form-container {
    .contact-form {
      button {
        margin: 0.5rem 0 0 50%;
      }
    }
  }
}

// max-width: 400px
@media (max-width: 400px) {
  .contact-form-container {
    .contact-form {
      width: 90%;

      input,
      textarea,
      label,
      .validator {
        font-size: 5vw;
      }

      button {
        font-size: 5.2vw;
      }
    }
  }
  .success-msg {
    h3 {
      font-size: 6vw;
    }
  }
}
