@use "../helpers" as *;

.sidebar {
  // background-color is set in styles/sass/base/theme.scss
  @extend %flex-center-center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100%;
  transition: right 0.8s cubic-bezier(0.5, 1, 0.5, 1);
  z-index: 10;

  .close-btn {
    // color is set in styles/sass/base/theme.scss
    top: 0;
    right: 0;
    margin: 1vw 9vw 0 0;
    position: absolute;
    font-size: 4rem;
    cursor: pointer;
  }

  .sidebar-links {
    display: flex;
    flex-direction: column;

    .sidebar-link {
      // color is set in styles/sass/base/theme.scss
      font-family: "Raleway";
      text-decoration: none;
      margin-top: 1rem;
      font-size: 2.5rem;
      font-weight: 500;
    }
  }
}

// show / hide
.sidebar-hide {
  right: -110%;
}
.sidebar-show {
  right: 0;
}

@media (max-width: 700px) {
  .sidebar {
    .sidebar-links {
      .sidebar-link {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .sidebar {
    .sidebar-links {
      .sidebar-link {
        font-size: 1.7rem;
      }
    }
  }
}
